body {
  background-color: rgb(246, 249, 249);
}

img {
  background-color: rgba(73, 108, 163, 0.51);

  position: absolute;

  left: 300px;

  top: 250px;
}

.aaa {

position: relative;

right: -250px;

top: 170px;
}

.bbb {
  
  position: relative;

  top: 57px;

  left: 200px;
}

.ccc{

  position:relative;

  top: 170px;

  left: 98px;
}

.ddd {

  position: relative;

  top: 250px;

  left: 200px;
}

.eee {

  position: relative;

  top: 143px;

  left: 290px;
}

.fff {
 background-color: rgb(255, 208, 0);

  position: relative;

  top: -275px;

  right: 130px;
}

.ggg {
  background-color: rgb(255, 208, 0);


  position: relative;

  top: -275px;

  right: 60px;;
}

.hhh {
  background-color: rgb(255, 208, 0);


  position: relative;

  top: -275px;
}

.iii {
  background-color: rgb(255, 208, 0);


  position: relative;

  top: -275px;

  left: 70px;
}

.jjj {
  background-color:  rgba(73, 108, 163, 0.51);



  color: aliceblue;

  position: relative;

  top: 360px;

  left: 300px;
}

.kkk {
  background-color:  rgba(73, 108, 163, 0.51);



  color:aliceblue;

  position: relative;

  top: 336px;

  left: 243px;
}

.lll {
  background-color: rgb(255, 208, 0);

  padding-right: 2000px;

 

  position: relative;

  top: 0px;

 left: -5px;
}

.nnn {


  top: 555px;

  left: 890px;
}
